# DocuSign JWT Authentication
DOCUSIGN_INTEGRATION_KEY=your-integration-key
DOCUSIGN_USER_ID=your-user-id
DOCUSIGN_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"

# DocuSign Account
# Demo account ID
DOCUSIGN_API_ACCOUNT_ID=9ff601bf-5c13-4148-b263-b03ef0807aab
